* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
/* 공통영역 */
.inner {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    /* background-color: whitesmoke; */
}
section {
    padding: 100px 0;
}
section h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}
/* 전체레이아웃 */
/* 상단 */
.header {
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.header-top {
    width: 100%;
}
.util {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    padding: 20px;
}
.util a:hover {
    text-decoration: underline;
}
.header-bt {
    display: flex;
    justify-content: space-between;
}
.gnb {
    display: flex;
    align-items: center;
    width: 60%;
}
.gnb li {
    width: calc(100% / 4);
    text-align: center;
    border: 1px solid rgb(54, 43, 39);
}
.gnb li {
    border-right: none;
}
.gnb li:last-child {
    border: 1px solid rgb(54, 43, 39);
}
.gnb li a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 43px;
}
.gnb li:hover a {
    background-color: #333;
    color: #fff;
}
/* 비주얼 */
figure {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #333;
    padding-top: 10%;
}
/* video */
figure video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    opacity: 0.6;
    object-fit: cover;
}
/* 비디오 내용 */
.video-txt {
    position: relative;
    color: #fff;
    padding-top: 17px;
}
.video-txt h2 {
    position: relative;
    font-size: 80px;
}
.video-txt p {
    width: 50%;
    font-size: 18px;
    margin-bottom: 40px;
}
.video-txt a {
    display: block;
    width: 300px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
}
/* news */
.news {
    background-color: aliceblue;
}
.news-wrap, .work-wrap {
    display: flex;
    gap: 20px;
}
.news-wrap li, .work-wrap li {
    width: calc(100% / 3);
    padding: 10px;
    background-color: #fff;
    padding-bottom: 20px;
}
.pic {
    position: relative;
    width: 100%;
    height: 188px;
    overflow: hidden;
}
.pic img {
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
    width: 100%;
    display: block;
    transition: 0.3s;
}
.pic:hover img {
    /* top: 0; */
    transform: scale(1.1);
}
.news-wrap h3 {
    padding-top: 20px;
    line-height: 2;
}
.news-wrap p {
    color: #888;
    line-height: 1.2;
}
/* 작품 */
.inner h1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.work-wrap img {
    width: 100%;
    display: block;
}
.work-wrap li {
    background-color: #333;
    color: #fff;
}
.badge {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: #f00;
    color: #fff;
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 20px;
}
.play {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 60px;
    color: #333;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
}
.overay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;
}
.work-wrap .pic:hover .overay {
    opacity: 1;
}
.content {
    padding: 10px;
}
.content button {
    width: 100%;
    padding: 12px;
    background-color: rgb(224, 165, 54);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    margin-top: 15px;
}
/* 스킬 */
.skills {
    background-color: aliceblue;
}
.skill-content {
    width: 70%;
    margin: 30px auto;
    background-color: beige;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.title i {
    font-size: 30px;
}
.skills h2 {
    margin-bottom: 0;
}
.bar {
    width: 100%;
    height: 20px;
    background-color: #444;
    border-radius: 20px;
    overflow: hidden;
}
/* 움직이는 막대 */
.fill {
    height: 100%;
    background-color: #f00;
    width: 0%;
    /* animation : 사용할 애니메이션이름 실행시간 끝난후 마지막 상태유지 */
    border-radius: 20px;
    animation: fillAni 2s forwards;
}
/* 각각 길이 */
.fill-img {
    max-width: 80%;
    background-color: tomato;
}
.fill-think{
    max-width: 90%;
    background-color: turquoise;
}
.fill-video{
    max-width: 85%;
    background-color: yellow;
}
/* 애니메이션 */
@keyframes fillAni {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
